<h3>Chat</h3>
<hr>

<div id="app-mensajes" class="app-mensajes">

<!-- Desde la vista se accede al arreglo de chats del servicio y se hace la lógica para ver quien es el autor y modificar la clase
del elemento segun corresponda. Para esto se usa el ngFor y ngClass -->
  <div *ngFor="let chat of _chatService.chats | async"
  [ngClass]="{'text-right': _chatService.usuario.uid == chat.uid}">
    <span class="badge" [ngClass]="{'badge-primary': _chatService.usuario.uid == chat.uid,
                                   'badge-success': _chatService.usuario.uid != chat.uid}">{{ chat.nombre }}</span>
    <p>{{ chat.mensaje }}</p>
  </div>

  <!-- <div>
    <span class="badge badge-success">Juan</span>
    <p>Este es otro mensaje</p>
  </div>
</div> -->

<!-- el [(ngModel)] hace que se modifique la variable mensaje con el valor del input -->
<input [(ngModel)]="mensaje"
        name="mensaje"
        (keyup.enter)="enviar()"
        class="form-control"
        placeholder="Mensaje...">
